.swiper-container {
  height: inherit;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgb(220, 220, 220);
  width: 47px !important;
  height: 47px !important;
  top: 50% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 26px !important;
  font-weight: 600 !important;
  color: #000000 !important;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover::after {
  color: $pinkText !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-img {
  height: 90%;
}
