// Font colors
$pinkText: #f16d7f;
$whiteText: #ffffff;
$greyText: #9f9f9f;
$blackText: #222222;
$darkGreyText: #5d5d5d;

// Font size
$price: 16px;
$cardText: 14px;

// Div colors
$blackDiv: #222222;
$blackGreyDiv: #222224;
$pinkDiv: #f1e4e6;
$darkPinkDiv: #f16d7f;
$greyDiv: #f8f8f8;
$darkGrey: #e1e1e1;
$catalogHover: rgba(58, 56, 56, 0.86);
$actionHover: rgba(33, 22, 22, 0.7);

$mobile: 320px;
$tablet: 768px;

$container: 1142px;
